body {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 300;
	overflow-x: hidden;
	background-image: url(../img/img_bg.jpg);
    background-size: cover;
}

a, button {
	transition: all 0.3s ease;
	color: #FFFFFF;
}

button:focus {
    outline: none;
}

a:hover {
	color: #d24506;
	text-decoration: underline;
}
a:focus {
	text-decoration: none;
	outline: none;
}

header p {
	font-size: 24px;	
	font-weight: 600;
}

p {
	color: #FFFFFF;	
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 99%;
}

.cb-slideshow-text-container {
    height: 100vh;
    display: flex;
    align-items: center;
}

.tm-content {
    z-index: 1001;
}

#nav {  
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 60px;
    
}

#nav ul li {
    padding-top: 2px;
    padding-bottom: 2px;
}


.tm-social-link {
    border-color: #FFFFFF;
    color: black;
    background-color: #d24506;
    display: inline-block;
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 5px;
}

.fa {
    color: #FFFFFF;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.text-about{
    /*! height: 100vh; */
    /*! display: flex; */
    align-content: center;
    margin: auto;
}

#about-us {
    margin: auto;
    padding: 10px;
}

#about-us h2 {
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
}

#about-us h3 {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 10px;
}

#about-us ul li {
    font-size: 20px;
    font-weight: 300;
    color: #FFFFFF;
}

.footer-link {
    margin: 20px;
	font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    width:100%;
    z-index: 1001;
}

.footer-link a {
    text-decoration: underline;
}

/* Mobile */


@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 80px }
	.tm-content {
		margin-top: 80px;
	}
}

@media screen and (max-width: 576px) { 
    .cb-slideshow li div h3 { font-size: 80px }
	}
}
